<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accountBook">
	
	<select id="listAllAccountBook" parameterType="map"
		resultType="com.ssb.accountBook.AccountBook">
		SELECT * FROM ( SELECT acBookIdx, TO_CHAR(accountBookDate, 'YYYY-MM-DD') accountBookDate,
		content, amount, categoryIdx, classIdx
		FROM accountBook WHERE memberIdx = #{memberIdx} ORDER BY accountBookDate ASC
		)
	</select>
	
	<insert id="insertAccountBook" parameterType="com.ssb.accountBook.AccountBook">
		INSERT INTO accountBook(acBookIdx, accountBookDate, content, amount, categoryIdx, classIdx)
		VALUES
		(account_seq.NEXTVAL, #{accountBookDate}, #{content}, #{amount}, #{categoryIdx}, #{classIdx})
	</insert>
	
	<update id="updateAccountBook" parameterType="com.ssb.accountBook.AccountBook">
		UPDATE accountBook SET accountBookDate=#{accountBookDate}, content=#{content},
		amount=#{amount}, categoryIdx=#{categodryIdx}, classIdx=#{classIdx}
		WHERE acBookIdx=#{acBookIdx}		
	</update>
</mapper>