<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accountBook">
	
	<select id="expenseList" parameterType="map"
		resultType="com.ssb.accountBook.AccountBook">
		SELECT * FROM ( SELECT acBookIdx, TO_CHAR(accountBookDate, 'YYYY-MM-DD') accountBookDate,
		content, amount, ab.categoryIdx, classIdx, ac.categoryName
		FROM accountBook ab JOIN acbCategory ac ON ab.categoryIdx = ac.categoryIdx
		WHERE memberIdx = #{memberIdx} AND classIdx='-1' ORDER BY accountBookDate ASC
		)
		
	</select>
	
	<select id="incomeList" parameterType="map"
		resultType="com.ssb.accountBook.AccountBook">
		SELECT * FROM ( SELECT acBookIdx, TO_CHAR(accountBookDate, 'YYYY-MM-DD') accountBookDate,
		content, amount, categoryIdx, classIdx
		FROM accountBook WHERE memberIdx = #{memberIdx} AND classIdx='1' ORDER BY accountBookDate ASC
		)
	</select>
	
	<select id="dateList" parameterType="map"
		resultType="com.ssb.accountBook.AccountBook">
		SELECT * FROM ( SELECT acBookIdx, TO_CHAR(accountBookDate, 'YYYY-MM-DD') accountBookDate,
		content, amount, categoryIdx, classIdx
		FROM accountBook WHERE memberIdx = #{memberIdx} ORDER BY accountBookDate ASC
		)
	</select>
	
	<insert id="insertAccountBook" parameterType="com.ssb.accountBook.AccountBook">
		INSERT INTO accountBook(acBookIdx, accountBookDate, content, amount, categoryIdx, classIdx, memberIdx)
		VALUES
		(account_seq.NEXTVAL, #{accountBookDate}, #{content}, #{amount}, #{categoryIdx}, #{classIdx}, #{memberIdx})
	</insert>
	
	<update id="updateAccountBook" parameterType="com.ssb.accountBook.AccountBook">
		UPDATE accountBook SET acBookIdx=#{acBookIdx}, memberIdx=#{memberIdx}, accountBookDate=#{accountBookDate}, content=#{content},
		amount=#{amount}, categoryIdx=#{categodryIdx}
		WHERE acBookIdx=#{acBookIdx}		
	</update>
	
	<delete id="deleteAccountBook" parameterType="Integer">
		DELETE FROM accountBook WHERE acBookIdx=#{acBookIdx}
	</delete>
	
	<select id="expenseTot" parameterType="map" resultType="Integer">
		SELECT SUM(amount) exTot FROM accountBook WHERE memberIdx = #{memberIdx} AND classIdx='-1'
	</select>
	
	<select id="incomeTot" parameterType="map" resultType="Integer">
		SELECT SUM(amount) inTot FROM accountBook WHERE memberIdx = #{memberIdx} AND classIdx='1'
	</select>
	
</mapper>