<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">

	<select id="depositlistAllAccount" parameterType="map"
		resultType="com.ssb.financial.account.Account">
		SELECT * FROM (
		SELECT
		productName,a.accountNo,balance,TO_CHAR(trDate,'YYYY-MM-DD')lastTrDate,interestRate
		FROM account a
		JOIN product p on a.productIdx = p.productIdx
		JOIN depositProduct d ON d.productIdx = a.productIdx
		JOIN transaction t ON a.accountNo = t.accountNo
		WHERE memberIdx = #{memberIdx}
		ORDER BY trDate DESC
		)WHERE ROWNUM =1
	</select>
	<select id="savinglistAllAccount" parameterType="map"
		resultType="com.ssb.financial.account.Account">
		SELECT * FROM (
		SELECT
		productName,a.accountNo,balance,TO_CHAR(trDate,'YYYY-MM-DD')lastTrDate,interest
		FROM account a
		JOIN product p on a.productIdx = p.productIdx
		JOIN savingsProduct s ON s.productIdx = a.productIdx
		JOIN transaction t ON a.accountNo = t.accountNo
		WHERE memberIdx = #{memberIdx}
		ORDER BY trDate DESC
		)WHERE ROWNUM =1
	</select>

	<select id="newAccountMember" parameterType="map"
		resultType="com.ssb.financial.account.Account">
		SELECT lastName,firstName,addr1,addr2,zipcode,tel,userid
		FROM member m
		JOIN memberinfo i ON m.memberidx=i.memberidx
		WHERE m.memberidx= #{memberIdx}
	</select>

</mapper>