<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="readMember" parameterType="String" resultType="com.ssb.member.Member">
		SELECT userId, memberIdx, userPwd, status, createDate, lastLogin
		FROM member
		WHERE userId=#{userId}
	</select>
	
	<update id="updateLastLogin" parameterType="String">
		UPDATE member SET lastLogin = SYSDATE
		WHERE userId = #{userId}
	</update>
	
	<insert id="insertMember" parameterType="com.ssb.member.Member"
		statementType="CALLABLE"
		useGeneratedKeys="false">
		{
			CALL pInsertMember(
				#{lastName, jdbcType=VARCHAR, mode=IN},
				#{firstName, jdbcType=VARCHAR, mode=IN},
				#{birth, jdbcType=VARCHAR, mode=IN},
				#{addr1, jdbcType=VARCHAR, mode=IN},
				#{addr2, jdbcType=VARCHAR, mode=IN},
				#{zipCode, jdbcType=VARCHAR, mode=IN},
				#{tel, jdbcType=VARCHAR, mode=IN},
				#{userId, jdbcType=VARCHAR, mode=IN},
				#{userPwd, jdbcType=VARCHAR, mode=IN}
			)
		}
	</insert>
	
	<update id="updateMember" parameterType="com.ssb.member.Member">
		UPDATE member SET userPwd =#{userPwd},address=#{address} ,gender=#{gender},birth=#{birth},tel=#{tel}
		WHERE userId =#{userId}
	</update>
	
	<update id="updateMemberEnabled" parameterType="map">
        UPDATE member SET enabled=#{enabled}
               WHERE userId=#{userId}
    </update>
    
    <delete id="deleteMember" parameterType="String">
    	DELETE FROM member WHERE userId=#{userId}
    </delete>
    
    <!-- 권한테이블 -->
    <insert id="insertAuthority" parameterType="com.ssb.member.Member">
	    INSERT INTO memberAuthority(userId, authority)
	        VALUES (#{userId}, #{authority})
	</insert>
	
	<select id="listAuthority" parameterType="String" resultType="com.ssb.member.Member">
	    SELECT userId, authority
	        FROM memberAuthority WHERE userId=#{userId}
	</select>
	
	<update id="updateAuthority" parameterType="map">
	     UPDATE memberAuthority SET authority=#{authority}
	         WHERE userId=#{userId} AND authority=#{oldAuthority}
	</update>
</mapper>