<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<select id="seq" resultType="Integer">
		SELECT board_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertNotice" parameterType="com.ssb.noticeBoard.Notice">
		INSERT INTO board(boardIdx, categoryIdx, memberIdx, subject, content, hitCount, createDate)
		VALUES(#{boardIdx}, #{categoryIdx}, #{memberIdx}, #{subject}, #{content}, 0, SYSDATE)
	</insert>
	
	<select id="listCategory" resultType="com.ssb.noticeBoard.Notice">
		SELECT categoryIdx, categoryName FROM boardtype
	</select>
	
	
	<!-- 글보기 -->
	<select id="readNotice" parameterType="Integer" resultType="com.ssb.noticeBoard.Notice">
		SELECT
			b.boardIdx,
			m1.memberIdx,
			m1.userId,
			m2.lastName || m2.firstName userName,
			categoryIdx,
			subject,
			content,
			TO_CHAR(b.createDate,
			'YYYY-MM-DD') createDate,
			hitCount
		FROM board b
		JOIN member m1 ON b.memberIdx = m1.memberIdx
		JOIN memberInfo m2 ON b.memberIdx = m2.memberIdx
		WHERE boardIdx = #{boardIdx}
	</select>
	
	<sql id="where-list">
		<if test="searchKey == 'userName'">
			userName = #{searchValue}
		</if>
		<if test="searchKey=='subject'">
			INSTR(subject, #{searchValue}) &gt; 0
		</if>
		<if test="searchKey=='content'">
			DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0
		</if>
		<if test="searchKey=='created'">
			(TO_CHAR(b.created, 'YYYY-MM-DD') = #{searchValue}
				OR TO_CHAR(b.created, 'YYYYMMDD') = #{searchValue})
		</if>
	</sql>
	
	<!-- 글개수 -->
	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*), 0)
			FROM board b 
			JOIN member m1 ON b.memberIdx = m1.memberIdx
            JOIN memberInfo m2 ON b.memberIdx = m2.memberIdx
		<where>
		    categoryIdx = #{categoryIdx}
			<if test="searchValue != null and searchValue != ''">
			   <!--  AND -->
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	 <!-- 글리스트 -->
	<select id="listNotice" parameterType="map" resultType="com.ssb.noticeBoard.Notice">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT
				b.boardIdx,
				b.memberIdx,
				m1.userId,
				m2.lastName || m2.firstName userName,
				categoryIdx,
				subject,
				TO_CHAR(b.createDate, 'YYYY-MM-DD') createDate,
				hitCount,
				NVL(fileCount, 0) fileCount
				FROM board b
				JOIN member m1 ON b.memberIdx = m1.memberIdx
				JOIN memberInfo m2 ON b.memberIdx = m2.memberIdx
				LEFT OUTER JOIN (
					SELECT
					boardIdx,
					COUNT(*) replyCount
					FROM boardReply
					GROUP BY boardIdx
				)c ON b.boardIdx = c.boardIdx
				LEFT OUTER JOIN (SELECT boardIdx, count(*) fileCount FROM boardfile group BY boardIdx ) f
						ON b.boardIdx=f.boardIdx 
			<where>
				categoryIdx = #{categoryIdx}
				<if test="searchValue != null and searchValue != ''">
				    AND 
					<include refid="where-list"/>
				</if>
			</where> 
			ORDER BY boardIdx DESC
<![CDATA[
		) tb WHERE ROWNUM <= #{end}
	) WHERE rnum >= #{start}
]]>	
	</select>
	
	
	<!-- 조회수 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE board SET hitCount = hitCount + 1 WHERE boardIdx = #{boardIdx}
	</update>
	
	<!-- 이전글 -->
	<select id="preReadNotice" resultType="com.ssb.noticeBoard.Notice" parameterType="map">
		SELECT tb.* FROM (
			SELECT boardIdx, subject
				FROM board b
				JOIN memberInfo m ON b.memberIdx = m.memberIdx
				<where>
					<if test="searchValue != null and searchValue != ''">
						<include refid="where-list"/>
					</if>
					<![CDATA[
					AND (boardIdx > #{boardIdx})
					]]>
					AND categoryIdx = #{categoryIdx}
				</where>
				ORDER BY boardIdx ASC
		) tb WHERE ROWNUM = 1
	</select>
	
	<!-- 다음글 -->
	<select id="nextReadNotice" resultType="com.ssb.noticeBoard.Notice" parameterType="map">
		SELECT tb.* FROM (
			SELECT boardIdx, subject
			FROM board b
			JOIN memberInfo m ON b.memberIdx = m.memberIdx
			<where>
				<if test="searchValue != null and searchValue != ''">
					<include refid="where-list"/>
				</if>
				<![CDATA[
				AND (boardIdx < #{boardIdx})
				]]>
				AND categoryIdx = #{categoryIdx}
			</where>
		  ORDER BY boardIdx DESC
		) tb WHERE ROWNUM = 1
	</select>
	
	<!-- 수정 -->
	<update id="updateNotice" parameterType="com.ssb.noticeBoard.Notice">
		UPDATE board SET subject = #{subject}, content = #{content}
				WHERE boardIdx = #{boardIdx}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteNotice" parameterType="Integer">
		DELETE FROM board WHERE boardIdx = #{boardIdx}
	</delete>
	
	<!-- 파일 -->
	<insert id="insertFile" parameterType="com.ssb.noticeBoard.Notice">
		INSERT INTO boardfile(fileIdx, boardIdx, fileSize, saveFileName, originalFileName)
		VALUES(boardfile_seq.NEXTVAL, #{boardIdx}, #{fileSize}, #{saveFileName}, #{originalFileName})
	</insert>
	
	<select id="listFile" parameterType="Integer" resultType="com.ssb.noticeBoard.Notice">
		SELECT fileIdx, boardIdx, fileSize, saveFileName, originalFileName
			FROM boardfile WHERE boardIdx=#{boardIdx} 
	</select>
	
	<select id="readFile" parameterType="Integer" resultType="com.ssb.noticeBoard.Notice">
		SELECT fileIdx, boardIdx, saveFileName, originalFileName
			FROM boardfile WHERE fileIdx=#{fileIdx}
	</select>
	
	<delete id="deleteFile" parameterType="map">
	DELETE FROM boardfile WHERE ${field}=#{value}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>