<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personalAccount">
	
	<select id="lookupAccount" parameterType="map" resultType="map">
		SELECT p.PRODUCTNAME, ac.accountNo, TO_CHAR(ac.createDate, 'YYYY-MM-DD HH24:MI:SS') createDate, TO_CHAR(trd.trDate, 'YYYY-MM-DD HH24:MI:SS') trDate, balance
	    FROM ACCOUNT ac
	    LEFT OUTER JOIN TRANSACTION tr ON ac.ACCOUNTNO = tr.ACCOUNTNO
	    LEFT OUTER JOIN TRDETAIL trd ON tr.TRDETAILIDX = trd.TRDETAILIDX
	    LEFT OUTER JOIN PRODUCT p ON ac.PRODUCTIDX = p.PRODUCTIDX
	    WHERE memberIdx = #{memberIdx} AND p.productIdx = #{productIdx} AND (ac.accountNo, trd.trDate) IN (
	        SELECT accountNo, MAX(trDate) FROM (
	            SELECT
	                accountNo accountNo,
	                trdate
	            FROM TRDETAIL
	            UNION ALL
	            SELECT
	                accountNo2 accountNo,
	                trdate
	            FROM TRDETAIL
	        ) WHERE accountNo IS NOT NULL GROUP BY accountNo
	    ) ORDER BY createDate ASC
	</select>
	
	<select id="listAccount" parameterType="map" resultType="map">
		SELECT accountNo 
		FROM account
		WHERE memberIdx = #{memberIdx} AND productIdx = #{productIdx}
		ORDER BY accountNo ASC
	</select>

</mapper>