<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personalAccount">
	
	<select id="getAccountBalance" parameterType="String" resultType="Integer">
		SELECT getCurrentBalance(#{accountNo}) balance FROM dual
	</select>
	
	<select id="lookupAccount" parameterType="map" resultType="map">
		SELECT p.PRODUCTNAME, ac.accountNo, TO_CHAR(ac.createDate, 'YYYY-MM-DD HH24:MI:SS') createDate, TO_CHAR(trd.trDate, 'YYYY-MM-DD HH24:MI:SS') trDate, balance, status
	    FROM ACCOUNT ac
	    LEFT OUTER JOIN TRANSACTION tr ON ac.ACCOUNTNO = tr.ACCOUNTNO
	    LEFT OUTER JOIN TRDETAIL trd ON tr.TRDETAILIDX = trd.TRDETAILIDX
	    LEFT OUTER JOIN PRODUCT p ON ac.PRODUCTIDX = p.PRODUCTIDX
	    WHERE memberIdx = #{memberIdx} <if test="productIdx!=''">AND p.productIdx=#{productIdx}</if> AND (ac.accountNo, trd.trDate) IN (
	        SELECT accountNo, MAX(trDate) FROM (
	            SELECT
	                accountNo accountNo,
	                trdate
	            FROM TRDETAIL
	            UNION ALL
	            SELECT
	                accountNo2 accountNo,
	                trdate
	            FROM TRDETAIL
	        ) WHERE accountNo IS NOT NULL GROUP BY accountNo
	    ) ORDER BY createDate ASC
	</select>

	<select id="pwdCheck" parameterType="map" resultType="Integer">
		SELECT COUNT(*) FROM account
		WHERE accountNo = #{accountNo} AND accountPwd = #{accountPwd}
	</select>

</mapper>