<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale">
	<insert id="insertSale" parameterType="com.ssb.sale.Sale">
	  INSERT INTO sale(saleIdx,categoryIdx,typeIdx,memberIdx,memberIdx2,addr1, addr2, zipCode,area,totalArea,
	          dong,ho,layer,tLayer,type,room,minAmount,maxAmount,guarantee,tradeDate,status) VALUES
	         (sale_seq.NEXTVAL,#{categoryIdx},#{typeIdx},#{memberIdx},#{memberIdx2, jdbcType=INTEGER},#{addr1},#{addr2},#{zipCode},#{area, jdbcType=DOUBLE},
	         #{totalArea},#{dong},#{ho},#{layer},#{tLayer},#{type},#{room},#{minAmount},#{maxAmount},#{guarantee},#{tradeDate, jdbcType=DATE},#{status, jdbcType=VARCHAR}
	         )
	</insert>	
	<sql id="where-sale">
	  <if test="searchKey=='addr'">
	       INSTR(typeIdx, #{searchValue}) &gt; 0
	  </if>
	</sql>
	<!-- 글개수 -->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
	  SELECT NVL(COUNT(*), 0)
	  FROM sale s
	  LEFT OUTER JOIN saleType sT ON s.categoryIdx = sT.categoryIdx
	  LEFT OUTER JOIN saleTradeType sTT ON s.typeIdx = sTT.typeIdx
	  <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-sale"/>
	     	</if>
	   </where>   
	</select>
	
	<select id="listSale" parameterType="map"
	            resultType="com.ssb.sale.Sale">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT saleIdx,addr2 , categoryName, maxAmount,TO_CHAR(tradeDate, 'YYYY-MM-DD') tradeDate,typeName		     
			     ,room,totalArea,layer,tLayer,status,addr1
			        FROM sale s
			        LEFT OUTER JOIN saleType sT ON s.categoryIdx = sT.categoryIdx
			        LEFT OUTER JOIN saleTradeType sTT ON s.typeIdx = sTT.typeIdx
                    <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-sale"/>
		                 </if>
	                </where>
	                
	                <if test="sortType==1 ">
	                     ORDER BY maxAmount 
	                </if>
	                <if test="sortType==2 ">
	                     ORDER BY categoryName
	                </if>
	                <if test="sortType==3 ">
	                     ORDER BY totalArea DESC
	                </if>	                
	                <if test="sortType==4 ">
	                     ORDER BY addr1
	                </if>		                
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
		<!-- 글보기 -->
	<select id="readSale" resultType="com.ssb.sale.Sale" parameterType="Integer">
				SELECT saleIdx, s.memberIdx,s.addr1,s.addr2,s.area,sT.categoryName,sTT.typeName,s.totalArea,
                 s.layer, s.tLayer,s.dong,s.ho,s.status,TO_CHAR(s.tradeDate,'YYYY-MM-DD') tradeDate
				 FROM sale s
				 JOIN member m ON s.memberIdx=m.memberIdx
				 LEFT OUTER JOIN saleType sT ON s.categoryIdx = sT.categoryIdx
			     LEFT OUTER JOIN saleTradeType sTT ON s.typeIdx = sTT.typeIdx
                 WHERE saleIdx = #{saleIdx}
	</select>
</mapper>