<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="transaction">

	<insert id="transactionSubmit" parameterType="map" statementType="CALLABLE"
		useGeneratedKeys="false">
		{
			CALL pTransaction(
				#{accountNo, jdbcType=VARCHAR, mode=IN},
				#{accountNo2, jdbcType=VARCHAR, mode=IN},
				#{content, jdbcType=VARCHAR, mode=IN},
				#{amount, jdbcType=INTEGER, mode=IN},
				#{result, jdbcType=INTEGER, mode=OUT}
			)
		}
	</insert>
	
	<select id="transactionCount" resultType="Integer">
		SELECT COUNT(*) FROM transaction t
		LEFT OUTER JOIN TRDETAIL trd ON t.TRDETAILIDX = trd.TRDETAILIDX
		LEFT OUTER JOIN TRTYPE tT ON t.TTYPE = tT.TTYPE
		<where>
			t.accountNo=#{accountNo}
			<include refid="where-transaction"></include>
		</where>
	</select>
	
	<select id="transactionList" parameterType="map">
		SELECT trd.TRDATE, TYPENAME, trd.trDetailIdx, t.accountNo, t.AMOUNT, t.BALANCE, CONTENT FROM transaction t
		LEFT OUTER JOIN TRDETAIL trd ON t.TRDETAILIDX = trd.TRDETAILIDX
		LEFT OUTER JOIN TRTYPE tT ON t.TTYPE = tT.TTYPE
		<where>
			t.accountNo=#{accountNo}
			<include refid="where-transaction"></include>
		</where>
		ORDER BY trIdx <if test="dOrder == 1"> DESC </if> <if test="dOrder == 2"> ASC </if>
	</select>
	
	<sql id="where-transaction">
		<if test="startDate == null OR startDate == ''">
			trd.trDate BETWEEN TO_DATE('1900-01-01', 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')+1
		</if>
		
		<if test="endDate == null OR endDate == ''">
			trd.trDate BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(SYSDATE, 'YYYY-MM-DD')+1
		</if>
		
		<if test="startDate != null AND endDate != null">
			trd.trDate BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')+1
		</if>
		
		<if test="tType == 1">
		
		</if>
		<if test="tType == 2">
			tT.tType IN (1, 5, 91)
		</if>
		<if test="tType == 3">
			tT.tType IN (-1, 2, 3, 4)
		</if>
	</sql>
</mapper>