@charset "UTF-8";

/* 김환욱 css*/

.item-checkbox label.saledate{margin-left:20px;}
.table-wrap .item-checkbox.saledate2{padding-top:5px;}


/* 장한별 css */
.menu-wrap.depth-two .menu-area  { width: 100%; padding: 0;}
.menu-wrap.depth-two .menu-area li { top: 0px; padding-right: 0px; }
.menu-wrap.depth-two .menu-area li a { line-height: 72px; }

.table-wrap .table-hori tr td.noAcInfo { height: 48px; }
.table-wrap .table-hori tr td.acInfo { height: 48px; }

input[type=text].modiTarget { width: 50%; }
input[type=password].modiTarget { width: 50%; }



.content .atm-container { width: 1100px; height: 800px; text-align: center; padding-top: 80px; font-family: 'Orbitron', sans-serif;}
.content .atm-container .atm { width: 1100px; height: 600px; background-color: black; border-radius: 50px; }
.content .atm-container .atm .atm-display { position: absolute; width: 700px; height: 400px; background-color: white; border-radius: 50px;
											margin-left: 20px; margin-top: 30px; }
											
.content .atm-container .atm .atm-display .display-table { margin-left: 30px; margin-top: 30px; }
.content .atm-container .atm .atm-display .display-table tr { }
.content .atm-container .atm .atm-display .display-table tr td { font-size: 32px; font-family: 'Orbitron', sans-serif; }
.content .atm-container .atm .atm-display .display-table tr td:first-child { width: 200px; border-right: 1px solid black; }
.content .atm-container .atm .atm-display .display-table tr td:last-child { width: 400px; text-align: left; padding-left: 20px; }											
.content .atm-container .atm .atm-display .display-table tr td input[type='text'] { background-color: white; border: 0px; font-size: 32px; font-family: 'Orbitron', sans-serif; }
.content .atm-container .atm .atm-display .display-table tr td input[type='password'] { background-color: white; border: 0px; font-size: 32px; font-family: 'Orbitron', sans-serif; }

.content .atm-container .atm .btn-container { position: absolute; margin-top: 20px; margin-left: 730px; width: 360px; height: 480px; }
.content .atm-container .atm .btn-container div[class^='btn-'] { float: left; width: 100px; height: 100px; background-color: white; border-radius: 10px; margin: 10px 10px 10px; }
.content .atm-container .atm .btn-container div[class^='btn-'] span { line-height: 100px; font-size: 48px; }

/* 방민주 css */
.info-area .box-agree li.fdn {height: 50px;line-height: 50px}




/* 정종목 css */





/* 박준형 css */

/* input[type=text]로 css 변경하게되면 모든 페이지에서 input element에 적용되기 때문에 
	변경을 적용할 특정한 페이지의 element에 class명을 주고 input[type=text] 대신에 
	.className { cssProp : val }로 수정하여 사용하길 바람
 */
td input[class="ACBtext"]  { /* 텍스트박스 */
    border: none;
    width: 100%;
    box-sizing: border-box;
} 

td div[id="sltCat"]{
	width: 100%;
}

td div select[class="slt"] {
	border: none;
}

.table-wrap .table-hori td { /*텍스트박스를 감싸는 td*/
	height: 20px;
	padding : 0px;
	border-right: 1px solid #ddd;
}

input[name="date"] {
	position: relative;
	width: 70%;
	z-index: 20;
}
