@charset "UTF-8";

/* 김환욱 css*/

.item-checkbox label.saledate{margin-left:20px;}
.table-wrap .item-checkbox.saledate2{padding-top:5px;}


/* 장한별 css */
.accountTabs { width: 100%; }
.accountTabs .tabs .accountTab { width: 33.3%; }
.menu-wrap.depth-two .menu-area  { width: 100%; padding: 0;}
.menu-wrap.depth-two .menu-area li {top: 0px; padding-right: 0px;}
.menu-wrap.depth-two .menu-area li a { line-height: 72px; } 

/* 방민주 css */
.info-area .box-agree li.fdn {height: 50px;line-height: 50px}




/* 정종목 css */





/* 박준형 css */
input[type=text]{
	width: 99%;
	height: 100%;
	padding: 0px;
}

.table-wrap .table-hori td {
	height: 20px;
	padding : 0px;
}

#my-tbody .item-radio + .item-radio {
	margin-right: 0;
}

.item-select {
	width: 100%;
}

